<header>
  <nav class="navbar p-3 navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do%>
        <div class="logo-img"></div>
      <% end %>


      <%= form_tag posts_searches_path, method: :get, class: "form-inline ml-md-auto", id: "posts-search",remote: true do %>
        <%= text_field_tag :keyword, params[:keyword], placeholder: "投稿検索", class: "form-control mr-sm-2", autocomplete: "off" %>
        <div id="posts-result"></div>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item active">
            <%= link_to "投稿", new_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
          </li>
          <li>
            <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
